#header .brand { background: #1abc9c url('../img/logo.png') no-repeat 25px 23px; }
#header .toggle-datetime.toggle-left { margin: 32px 0 0 20px; display: inline-block; }
#header .logo { padding: 23px 0 0 56px; }

.error { color: #a94442; font-weight: bold;}

.category .list-group-item { border: none; }

.delete-form { display: inline-block; float: right; }
.delete-form form, .delete-form .btn { display: inline-block; margin-left: 5px; }

.dish { clear: both; padding: 10px 2px; height: 100px; }
.dish:hover { background-color:#ddd; }
.dish img { float: left; width: 100px; height: 100px; }
.dish a { float: right; vertical-align: middle; }
.dish strong, .dish em, .dish span { margin: 0 150px; display: block; }
.dish .glyphicon-edit { margin: 0; }

.edit-form { max-width: 500px; }
.edit-form .btn { margin-top: 20px; }
.edit-form textarea { resize: vertical; }

.menu-form .btn { margin: 15px; }

.actionbar { margin: 10px 0; }
.recherche { margin: 50px 0; }

.order h3 { margin: 0; }
.order h3 .btn { float: right; }
.order .btn .glyphicon-edit { margin: 0; }
.order ul.lines em { float: right; }

.btn-dish { width: 140px; }
.btn-dish img { margin: 10px 20px; width: 100px; height: 100px; display: block; }
