{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>Option pour {{ entity.name|raw }}</h3>
    </div>

    <form class="menu-form" action="{{ path('dish_add_option', {id: entity.id }) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        <div class="clearfix"></div>
        
        <div>
            <button class="btn btn-primary">Valider</button>
        </div>
    </form>

{% endblock %}
