{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}

<div class="content-header">
    <h3>Tableau de bord ({{ day|date('d/m/Y') }})</h3>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="dashboard-tile detail tile-red">
            <div class="content">
                <h1 class="text-left">{{ dayCount }}</h1>
                <p>Commandes</p>
            </div>
            <div class="icon"><i class="fa fa-cutlery"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="dashboard-tile detail tile-turquoise">
            <div class="content">
                <h1 class="text-left">{{ dayTotal }}</h1>
                <p>Chiffre d'affaire</p>
            </div>
            <div class="icon"><i class="fa fa-euro"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="dashboard-tile detail tile-blue">
            <div class="content">
                <h1 class="text-left">{{ avgOrderTime }}</h1>
                <p>Temps (commande)</p>
            </div>
            <div class="icon"><i class="fa fa-clock-o"></i>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

{% endblock %}
