<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modifier {{ entity.name|raw }}</h4>

</div>
<div class="modal-body">
{% include 'IORestaurantBundle:Category:_form.html.twig' with {form:edit_form, action:path('category_update', {id:entity.id}), category:entity} %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <button type="button" class="btn btn-primary modal-submit" data-form=".menu-form">Valider</button>
</div>
{% include 'IORestaurantBundle:Category:_js.html.twig' %}
