{% extends "IOMenuBundle::layout.html.twig" %}

{% block content -%}
    <h3>
        <small><a href="{{ path('category_show', {id:category.id}) }}" title="Retour à la carte"><span class="glyphicon glyphicon-arrow-left"></span></a></small>
        {{ category.name|raw }}
    </h3>

    {{ form(edit_form) }}

</ul>
{% endblock %}
