{% extends "IOMenuBundle::layout.html.twig" %}

{% block content %}
    <h3>
        <small><a href="{{ path('carte') }}" title="Retour à la carte"><span class="glyphicon glyphicon-arrow-left"></span></a></small>
        Ajouter une categorie
    </h3>

    {{ form(form) }}

{% endblock %}
