{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">    
    <span class="actionbar">
        <a class="btn btn-primary" href="{{ path('admin_restaurant_new') }}" title="Créer un restaurant"><i class="fa fa-plus"></i> Créer un restaurant</a>
    </span>    
    <h1>Mes restaurants</h1>

    <ul class="list-group">
    {% for restaurant in restaurants %}
        <li class="list-group-item">
            <a href="{{ path('restaurant_set_current', {restaurantId:restaurant.id}) }}">{{ restaurant.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
