{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    {#<span class="actionbar">
        <a class="btn btn-primary" href="#" title="Nouvelle commande"><i class="fa fa-plus"></i> Nouvelle commande</a>
    </span>#}
    <h1>Commandes</h1>
</div>

<div class="order-list" data-url="{{ path('order_refresh') }}" data-content="{{ current_restaurant().id }}">
    {% include 'IOOrderBundle:Default:order_list.html.twig' with {orders:orders} %}
</div>

{% endblock %}
