{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>Tableau de bord</h3>
        <div class="clearfix"></div>
    </div>
{% endblock %}
