/*
 * Base structure
 */

body {
  padding-top: 50px;
}

/* 
 * Sign in form
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin i.fa {
    width: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.sidebar h4 { 
    margin-bottom: 0px; 
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.actionbar { isplay: inline-block; float: right; margin-top: 22px; }

#header .brand { background: #1abc9c url('../img/logo.png') no-repeat 25px 23px; }
#header .toggle-datetime.toggle-left { margin: 32px 0 0 20px; display: inline-block; }
#header .logo { padding: 23px 0 0 56px; }
#header .user-nav { display: inline-block; }

.error { color: #a94442; font-weight: bold;}
strong.red { color: #ff0000; }

a.btn-danger { color: #fff; }
.content-header h3 { display: inline-block; }
.content-header { border-bottom: 1px solid #293949; margin-bottom: 20px; }

.menu-form { padding: 10px; }
.menu-form .btn { margin: 20px 0 0; }


.dish, .category { clear: both; padding: 10px 2px; height: 100px; }
.dish:hover, .category:hover { background-color:#ddd; }
.dish img, .category img { float: left; width: 80px; height: 80px; }
.dish a, .category a { float: right; vertical-align: middle; }
.dish strong, .dish em, .dish span, .category strong, .category span, .category em { margin: 0 150px; display: block; }
.dish span, .category span { margin: 10px 150px 0; }

.btn-dish { width: 140px; }
.btn-dish img { margin: 0px 5px; width: 100px; height: 100px; display: block; }
.orderLines div { display: inline-block; }
.orderLines .btn-danger { padding: 0px 4px; margin-right: 10px; }

.order ul { padding-left: 15px; }
.order h3 { margin: 0; }
.order h3 .btn { float: right; }
.order .btn .glyphicon-edit { margin: 0; }
.order ul.lines em { float: right; }

.panel-info .panel-heading a { color:#31708f; }

.order { width: 200px; float: left; background-color: #f5f5f5; padding: 5px; border: 1px solid #1abc9c; margin: 2px; }
.order-waiting { background-color: #cacfd2; }
.order .main-order { list-style-type: none; margin-top: 5px; min-height: 200px; padding: 0; }
.order .category-order { list-style-type: none; padding-left: 5px; }
.order em { float: right; }
.order .total { font-weight: bold; }
.order .payment { padding-left:5px; }

.period {  width: 200px; float: left; background-color: #f5f5f5; padding: 5px; border: 1px solid #1abc9c; margin: 2px; }
.period:hover { background-color: #cacfd2; }
.period span { display: block; }

.history_order .main-order { list-style-type: none; padding: 0; }

.option-list .btn-info {color: #3498db !important; background-color: #eee !important;}
.option-list .btn-warning {color: #f1c40f !important; background-color: #eee !important;}