body{background-color:#eee;}
.mainContainer { 
    background-color:#fff; 
    width: 1000px;
    padding: 10px 20px 20px 20px;
    border-radius: 2px;
    margin: 10px auto;
    background: white; 
}
h1 img { height: 55px; }
h3 { color: #e31b7c; }