body{background-color:#eee;}
.mainContainer { 
    background-color:#fff; 
    width: 1000px;
    padding: 10px 20px 20px 20px;
    border-radius: 2px;
    margin: 10px auto;
    background: white; 
}
h1 img { height: 120px; }
h3 { color: #e31b7c; }
.footer { margin-top: 50px; }

.message { margin: 20px 0 50px; font-size: 20px; }
.twitter-button { display: inline-block;position: relative;top: 5px; }

.menu p { font-style: italic; }
.category { margin: 0px 0px 50px; }
