<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}InnovOrder{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
                'bundles/iocarte/css/bootstrap.css'
                'bundles/iocarte/css/spacelab.css'
                'bundles/iocarte/css/font-awesome.min.css'
                'bundles/iocarte/css/animate.css'
                'bundles/iocarte/css/main.css'
                filter='yui_css,cssrewrite' 
                output='css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
                
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {% javascripts 
                '@IOCarteBundle/Resources/public/js/jquery.js'
                '@IOCarteBundle/Resources/public/js/bootstrap.js'
                '@IOCarteBundle/Resources/public/js/respond.min.js'
                '@IOCarteBundle/Resources/public/js/html5shiv.js'
                '@IOCarteBundle/Resources/public/js/modernizr.min.js'
                '@IOCarteBundle/Resources/public/plugins/nanoScroller/jquery.nanoscroller.min.js'
                '@IOCarteBundle/Resources/public/js/application.js'
                filter='yui_js'
                output='js/main.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>