{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>Restaurants</h3>
        <span class="actionbar">
            <a class="btn btn-primary" href="{{ path('admin_restaurant_new') }}" title="Nouveau restaurant"><i class="fa fa-plus"></i> </a>
        </span>
        <div class="clearfix"></div>
    </div>

    <ul class="list-group">
    {% for restaurant in restaurants %}
        <li class="list-group-item">{{ restaurant.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
