{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>Ajouter un restaurant</h1>

    <form class="menu-form" action="#" method="POST" {{ form_enctype(form) }}>
        
        <div class="form-group">
        {{ form_rest(form) }}
        </div>
        <button class="btn btn-primary">Ajouter</button>
    </form>
</div>
{% endblock %}
