{% extends "IODefaultBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">     
                           InnovOrder
                        </h3>      
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <p class="error">{{ error|trans }}</p>
                        {% else %}
                            <p> Authentifiez-vous pour accéder à votre compte.</p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="POST">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="email" name="_username" placeholder="Login">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
                                    <i class="fa fa-lock"></i>
                                    <a href="javascript:void(0)" class="help-block">Mot de passe oublié ?</a>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group">
                               <div class="col-md-12">
                                    <button id="_submit" class="btn btn-primary btn-block">Connexion</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock body %}
