{% extends "IOMenuBundle::layout.html.twig" %}

{% import _self as macro %}

{% block content %}
    <h3>{{ category.name }}</h3>
    <div class="dishes list-group">
        {% for dish in dishes %}
            <div class="dish dishlist-group-item">
                <img class="img-rounded" src="{{ dish.imageUrl }}" alt="#" />
                <strong>{{ dish.name }}</strong>
                <em>{{ dish.description|raw }}</em>
            </div>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
