{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>Ajouter un utilisateur</h3>
        <div class="clearfix"></div>
    </div>

    <form action="#" method="POST">
        <div class="form-group">
            {{ form_rest(form) }}
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
{% endblock %}
