{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    <h1>Ajouter un utilisateur</h1>

    <form action="#" method="POST">
        <div class="form-group">
            {{ form_rest(form) }}
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
{% endblock %}
